{% extends 'base.html.twig' %}

{% block body %}

    <div class="roe">
        <div class="col-sm-12">
            <h1 class="text-center">Image name</h1>
            <div class="thumbnail">
                <a href="/images/{{ image }}">
                    <img src="/images/{{ image }}" alt="image">
                </a>
                <div class="caption">
                    <h3>My image caption</h3>
                    <ul>
                        <li>Tag 1</li>
                        <li>Tag 2</li>
                        <li>Tag 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}